.godot/
/android/
.import/
/builds/
/exports/
*.pck
*.zip
*.apk
*.aab
*.exe
*.dmg
*.app

# this shit for c# compadability, probably not necessary
.mono/
data_*/
mono_crash.*.json


export_credentials.cfg
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
*.swp
*.swo
*~
*.log
logs/
